@import './themeColors.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: $primaryThemeColor;
    border: 1pt solid black;

    .header__menu {
        display: flex;
        align-items: center;
        
        img {
            height: 2.5rem;
            object-fit: contain;
            margin-left: 1rem;
        }
    }

    .header__logUser{
        display: flex;
        align-items: center;
        Button {
            color: $primaryThemeColor;
            background-color: black;
        }
    }
}