.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;

    .menu {
        display: flex;
        align-items: center;
        
        img {
            height: 2.5rem;
            object-fit: contain;
            margin-left: 1rem;
        }
    }

    .searchFilters{
        display: flex;
        align-items: center;
    }

    .logUser{
        display: flex;
        align-items: center;
    }
}