@import './themeColors.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: $primaryThemeColor;
    border: 1pt solid black;
    top: 0;
    position: sticky;
    z-index: 100;

    .header__menu {
        display: flex;
        align-items: center;
        flex: 0.1;
        
        img {
            height: 8rem;
            object-fit: contain;
            margin-left: 1rem;
        }
    }

    .header__logUser {
        display: flex;
        align-items: center;
        Button {
            color: $primaryThemeColor;
            background-color: black;
            
        }
        Button:hover {
            color: $highlightColor;
        }
    }
}