@import './themeColors.scss';

.results {
    background-color: #222;
    flex: 0.9;
    padding: 1rem;
    color: $primaryThemeColor;

    h2 {
        margin-bottom: 0.5rem;
    }
    .results__main {
        padding-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        color: $highlightColor;
    }
}