@import './themeColors.scss';

.main {
   width: 30%; 
}

.main__search {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;

    input {
        color: $primaryThemeColor;
        font-size: 1rem;
        background-color: black;
        border-radius: 4px;
        height: 1rem;
        border: 1px solid $primaryThemeColor;
        flex: 1;
        margin: 0;
        padding: 5px;
    }
}

.main__timeFilters {
    padding: 0.5rem 0;
    width: 100%;

    .fromPicker {

    }

    .toPicker {

    }
}